/*
 Theme Name:   GCMF
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  GCMF Base Theme
 Author:       John Doe
 Author URI:   http://example.com
 Version:      1.0.2
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child
*/

@import url("css/style.css");


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* =Theme customization starts here
-------------------------------------------------------------- */

html {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
	background-color: #dfdfdf;
  font-family: 'Gotham A', 'Gotham B', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.45;
}


.logos-sprite, .logos-gcmf-logo-color, .logos-gcmf-logo-white {
  background: url('img/logo-gcmf.png') no-repeat;
}

a:hover {
    color: #0064A2;
    }


#logo {
  width: 252px;
  height: 80px;
  margin: 0;
}

#logo a {
  display: block;
  height: 100%;
  width: 100%;
}

#breadcrumbs {
  font-size: 13px;
}

#breadcrumbs  p {
  margin: 0 !important;
}

p {
  margin: 0 0 21px;
}

#breadcrumbs-collection {
  margin-bottom: 0;
  font-size: 13px;
}

#main > .product > .entry-content > .woocommerce > .single-product > .product > .related, .products {
    clear: both;
}

.collection-list-lp {
  background-color: #e7e7e7;
  padding: 10px;
}

hr.collection {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.top {
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #efefef;
  margin-top: 5px;
}

hr.collection:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

hr.collection-top {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


#menu-top-menu {
  color: #0064A2;
  margin-top: 11px;
  list-style: none outside none;
  padding-left: 0;
}

#menu-top-menu li {
  padding: 0 3px;
  float: left;
}

#menu-top-menu li span {
  padding: 0 3px;
  color: 0064a2;
}


.btn, #date-sidebar-wrap #submit_button, .res-result .booknowlink, .fancybox-skin .booknowlink, .fancybox-skin #submit_button, .btn.default {
  background-color: #00aee6;
  color: #ffffff;
}

.btn:hover {
  background-color: #0064A2;
  color: #ffffff;
}



#masthead-wrap {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
  z-index: 100;
}

header#masthead {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  padding-top: 15px;
  position: relative;
  height: 130px;
}

ul.social-icons {
  float: right;
  width: 300px;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 0;
}

ul.social-icons li {
  padding-left: 5px;
  padding-right: 0px;
  float: right;
  margin-left: 5px;
}

ul.social-icons li a {
  display: block;
  width: 20px;
  height: 20px;
}

#menu-bars {
  display: none;
}

#mobile-navigation-below {
  display: none;
}

/*.social-icons-sprite, .social-icons-fb-icon-alt,  .social-icons-linkedin-icon-alt, .social-icons-rss-icon-alt, .social-icons-twitter-icon-alt, .social-icons-itunes-icon-alt, .social-icons-youtube-icon-alt {
  background: url('img/social-icons/social-icons-footer.png') no-repeat;
}*/

/*.social-icons-header, .social-icons-sprite, .social-icons-fb-icon, .social-icons-linkedin-icon, .social-icons-rss-icon, .social-icons-twitter-icon, .social-icons-itunes-icon, .social-icons-youtube-icon {
  background: url('img/social-icons/social-icons-header.png') no-repeat;
}*/

.social-icons-fb-icon-alt, .social-icons-fb-icon {
  background: url('img/social-icons/facebook24.png');
  height: 24px;
  padding: 0;
}


.social-icons-linkedin-icon, .social-icons-linkedin-icon-alt {
 background: url('img/social-icons/linkedin24.png');
  height: 24px;
  padding: 0;
}

.social-icons-rss-icon, .social-icons-rss-icon-alt {
 background: url('img/social-icons/rss24.png');
  height: 24px;
  padding: 0;
}


.social-icons-twitter-icon, .social-icons-twitter-icon-alt {
   background: url('img/social-icons/twitter24.png');
  height: 24px;
  padding: 0;
}

.social-icons-itunes-icon, .social-icons-itunes-icon-alt {
   background: url('img/social-icons/itunes24.png');
  height: 24px;
  padding: 0;
}

.social-icons-youtube-icon,  .social-icons-youtube-icon-alt {
  background: url('img/social-icons/youtube24.png');
  height: 24px;
  padding: 0;
}

.social-icons-pinterest-icon,  .social-icons-pinterest-icon-alt {
  background: url('img/social-icons/pinterest24.png');
  height: 24px;
  padding: 0;
}

.social-icons-flickr-icon,  .social-icons-flickr-icon-alt {
  background: url('img/social-icons/flickr24.png');
  height: 24px;
  padding: 0;
}

.social-icons-gplus-icon,  .social-icons-gplus-icon-alt {
  background: url('img/social-icons/google24.png');
  height: 24px;
  padding: 0;
}

.social-icons-instagram-icon,  .social-icons-instagram-icon-alt {
  background: url('img/social-icons/instagram24.png');
  height: 24px;
  padding: 0;
}


#content-nav-wrap {
    position:relative;
    top:-36px;
    margin-bottom:-36px;
    overflow: hidden;
}

nav#site-navigation {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: #cccccc;
  height: 40px;
  width: 100%;
  margin-top: 0;
}

nav#site-navigation .menu-item a:hover {
  color: #0064A2;
}

nav#site-navigation > ul {
  float: left;
  width: 100%;
}

nav#site-navigation > ul > li {
  padding-right: 3px:
}

nav#site-navigation > ul ul li {
  border-top: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
}

nav#section-nav ul#menu-secondary-navigation li:hover ul {
  display: none !important;
}

nav#section-nav ul#menu-secondary-navigation a:hover {

}

nav#site-navigation > ul ul .menu-item a:hover {
  color: #fff;
}

nav#site-navigation li {
  padding: 0;
  position: relative;
}

nav#site-navigation li.current-menu-item a {
  color: #0064A2 !important;
}

nav#section-nav li.has-children:hover:after {
  border: 0;
}

/*nav#site-navigation li.menu-item-325 {
  width: 19%;
}

nav#site-navigation li.menu-item-328 {
  width: 10%;
}

nav#site-navigation li.menu-item-324 {
  width: 12%;,
}

nav#site-navigation li.menu-item-326 {
  width: 14%;
}

nav#site-navigation li.menu-item-323 {
  width: 15%;
}

nav#site-navigation li.menu-item-322, nav#site-navigation li.menu-item-327,  {
  width: 16%;
}
*/

nav#site-navigation li:hover > a {
  color: #0064A2;
}

nav#site-navigation li a {
  color: #333333;
  padding: 7px 10px;
  display: block;
  text-transform: capitalize;
}

nav#site-navigation li.has-children:hover:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  border: 6px solid transparent;
  border-bottom-color: #00a888;
}

.rsDefault .rsThumb.rsNavSelected {
  background: #000000 !important;
}

.marshall-blue {
  background-color: #0064a2;
}

.light-blue {
  background: #00aee6;
}

.marshall-green {
  background: #1a808e;
}

.marshall-gray {
  background: #5a5a5a;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
  background: #0064a2 !important;
  color: #ffffff !important;
  border: 0;
  text-shadow: none;
  font-weight: 500;
  border-radius: 0;
  padding-top: 8px !important;
}

.support.woocommerce #content div.product div.summary, .support.woocommerce div.product div.summary, .support.woocommerce-page #content div.product div.summary, .support.woocommerce-page div.product div.summary {
	width: 100% !important;
}

.digital-dl-list {
  list-style-image: none;
  list-style: none;
  padding-left: 0;
}

#hero {
  background-color: #0064A2;
}
/*Home Page Styles */

.section-header {
  background-color: #0064a2;
  padding: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  width: 100%;
}

.social-section-header {
  background-color: #00aee7;
  padding: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  width: 100%;
}


/* Shortcode Styles */

.featured-header {
  background-color: #0064A2;
  padding: 7px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 7px;
}

.featured-header h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}

.featured-header h2:after {
  content: " \00bb";
}

.featured-header .jumplink {
  color: #ffffff !important;
  font-size: 15px;
  text-align: right;
  float: right;
   margin-top: 7px;
}

.featured-header .jumplink a {
  color: #ffffff !important;
}

.featured-header .jumplink a:hover {
  color: #ffffff !important;
  font-style: underline;
}

.featured-header .jumplink a:visited {
  color: #ffffff !important;
  font-style: underline;
}

.featured-header .jumplink:after {
  content: " \00bb";
  font-size: 15px;
  color: #ffffff;
}


.brand-box {
  display: inline-block;
  vertical-align: top;
  /*width: 265px;*/
  height: 310px;
  zoom: 1;
  position: relative;
}

.brand-box img {

}

.brand-box-text {
  height: 100px;
  width: 140px;
  color: #ffffff;
  z-index: 10;
  bottom: 0;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  padding: 20px 10px 0 10px;
  text-transform: uppercase;
  font-weight: 500;

}

.brand-box-title h2 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 500 !important;
  padding-top: 7px;
  text-transform: uppercase;
  }

.brand-box-title {
  height: 40px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.brand-box-img {
  z-index: 1;
}

.pressroom-tab-holder {
  margin-top: -20px;
}

.pressroom-tab-holder ul:first-child {
  border-bottom: 1px solid #dbd7d4;
  text-align: right;
  padding-right: 10px;
}

.pressroom-tab-holder li {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: solid 1px transparent;
  border-bottom: none;
  width: auto !important;
  float: none;
  display: inline-block;
}

.pressroom-tab-holder li a {
  background: transparent;
  color: #0064A2;
  font-weight: normal;
}

.pressroom-tab-holder li a:hover {
  background: transparent;
  color: #0064A2;
  text-decoration: underline;
}

.pressroom-tab-holder li a:focus {
  outline: none;
}

.pressroom-tab-holder li.active {
  border-top: solid 4px #0064A2;
  border-bottom: none;
  background-color: #cccccc !important;
}
/* line 231, ../scss/_tabs.scss */
.pressroom-tab-holder li.active:after {
  border: none;
}
.pressroom-tab-holder li.active a {
  background-color: #cccccc;
  color: #0064A2;
}

.pressroom-tab-holder .tab_content {
  padding: 20px 0 0;
}

.calendar-item {
  margin-bottom: 5px;
}

.calendar-item .inner-content {
  height: 90px;
}

h4.event-date {
  margin-bottom: 15px;
  color: #333333;
  font-weight: 500;
}

.stay-connected {
  background: #dfdfdf;
  background: rgba(255, 255, 255);
}

.stay-connected .inner-content {
  background: #dfdfdf;
  text-align: center;
  padding: 5px;
  font-size: 17px;
  font-weight: 400;
}


.stay-connected h2 {
  background-color: #00aee7;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  padding: 10px;
}

.stay-connected ul.connect-icons {
  list-style: none;
}

.stay-connected ul.connect-icons li {
  padding: 0 10px 10px 0;
  float: left;
}

.facetwp-type-checkboxes,
.facetwp-type-hierarchy {
  overflow: auto;
  max-height: 250px !important;
}

/* Archives */

.archive .entry-header h1.entry-title {
  font-size: 18px;
}

/* Widgets */

.widget #calendar_wrap {
  background: #efefef;
  padding: 10px;
}

/* Blog */


article.format-standard h1.entry-title {
  text-transform: capitalize;
}

.blog article {
  border-top: 7px solid #0064A2;
  padding-top: 10px;
  padding-bottom: 20px;
  min-height: 200px;
}

#wp-calendar {
  width: 100%;
}

/* Library Landing */

.holdings-item {
  margin-bottom: 10px;
  float: left;
}

.holdings-icon {
  float: left;
  width: 65px;
}

.holdings-text {
  float: left;
  width: 73%;
}

h4.holdings-title {
  color: #00467f;
  font-size: 14px;
  margin-bottom: 3px;
}


.feature-box-img-text {
  height: 100px;
  width: 140px;
  color: #ffffff;
  z-index: 10;
  bottom: 0;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  padding: 20px 10px 0 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.fc-image-main {
  display: block;
  max-width: 100%;
  height: auto;
}

.feature-box {
  background-color: #e7e7e7;
  padding-left: 15px;
}

.feature-box {
  height: 208px;
}

.feature-box .feature-box-content .inner-content {
    height: 200px !important;
}

.feature-box .feature-box-content {
  height: 205px;
  line-height: 1.2em;
}


.feature-box-main {
  background-color: #e7e7e7;
  padding-left: 15px;
  margin-bottom: 20px;
}

.feature-box-content .inner-content {
  background-color: #e7e7e7;
  padding-top: 8px;
}

.feature-box-content {
  background-color: #e7e7e7;
}


.item {
  margin-bottom: 10px;
}

.col-file-list:after {
 content: ' \00bb';
}

.item {
  padding-left: 5px;
}

#archive-menu {
  background-color: #e7e7e7;
}

.tablet {
  display: none;
}

#comments #respond textarea {
      width: 100%;
    }

@media (min-width: 991px) and (max-width: 1200px) {

.title {
  font-size: 18px !important;
}

.brand-box {
    width: 97%;
    height: auto;
  }


.brand-box h2 {
  font-size: 15px;
  padding-top: 4px;
}

.brand-box-title {
  height: 45px;
}

.brand-box-text {
  bottom: 0;
}


  nav#site-navigation > ul {
    margin-right: 37px;
  }

  nav#site-navigation li a {
    padding: 7px 4px;
  }


  nav#site-navigation > ul > li > a {
  font-size: 13.5px !important;
  }

  nav#site-navigation > ul > li {
    padding-left: 0 !important;
  }

  .da-box {
    height: inherit;
  }

  #hero span.section-name {
    top: 40px !important;
  }

  .toggle-highlight {
    padding-right: 30px;
  }

  #content-nav-wrap {
    top: -34px;
  }

  .search-main-wrapper .facetwp-facet {
    margin-right: 45px;
  }

  nav#section-nav ul#menu-secondary-navigation a {
    font-size: 14px;
  }

}

nav#site-navigation li a:hover {
  text-decoration: none;
}

nav#site-navigation li:hover ul {
  height: auto;
}

nav#site-navigation li.has-children:hover {
  position: relative;
}

nav#section-nav {
    font-size: 16px;
    position: relative;
    z-index: 99;
}


nav#section-nav ul#menu-secondary-navigation li {
  padding: 0;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  margin-right: 5px;
}

nav#section-nav ul#menu-secondary-navigation li:hover ul {
    display: block;
    background: rgba(255, 255, 255, 0.8);
}

nav#section-nav ul#menu-secondary-navigation li:hover > a {
    background: rgba(255, 255, 255, 0.9);
}

nav#section-nav ul#menu-secondary-navigation li li a:hover {
  background-color: #ffffff;
}

nav#section-nav ul#menu-secondary-navigation a {
  color: #333333;
  padding: 7px 10px 7px 10px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav#section-nav .desktop-menu li.current-menu-item {
  background-color: #ffffff !important;
}

nav#section-nav {
	background-color:transparent;
}

.navigation {
   background-color: #cccccc;
   height: 40px;
}

nav#section-nav li.current-menu-parent, nav#section-nav li.current-category-ancestor {
  background-color: #fff !important;
}

#comments #respond label {
      width: 100%;
    }

#comments #respond input {
      width: 50%;
    }

/******************************
*
*  RoyalSlider Universal Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*
*  Sprite: 'gcmf-slider-skin.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
*
******************************/

.home .royalSlider .container {
  position: relative;
}

#hero.full-hero {
  background-color: #777777;
}

nav#site-navigation > ul > li > a {
  font-size: 15px;
}


.nav-bullets {
  position: relative;
  bottom: 10px;
}

/* Background */

.gcmf-hero-slider-skin,
.gcmf-hero-slider-skin .rsOverflow,
.gcmf-hero-slider-skin .rsSlide,
.gcmf-hero-slider-skin .rsVideoFrameHolder,
.gcmf-hero-slider-skin .rsThumbs {
  background: transparent;
  color: #FFF;
}

/***************
*
*  1. Arrows
*
****************/

.gcmf-hero-slider-skin .rsArrow {
  width: 50px;
  height: 70px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.5);
}

.gcmf-hero-slider-skin.rsHor .rsArrowLeft {
  left: 0;
  top: 50%;
  margin-top: -35px;
}


.gcmf-hero-slider-skin.rsHor .rsArrowRight {
  right: 0;
  top: 50%;
  margin-top: -35px;
}


.gcmf-hero-slider-skin .rsArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  cursor: pointer;
  background: url("img/gcmf-hero-slider-skin.png");
  opacity: 0.5;
  border-radius: 2px;
}


.gcmf-hero-slider-skin .rsArrow:hover .rsArrowIcn {
  opacity: 1;
}


.gcmf-hero-slider-skin.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -64px -32px;
}


.gcmf-hero-slider-skin.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -64px -64px;
}


.gcmf-hero-slider-skin.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -96px -32px;
}


.gcmf-hero-slider-skin.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -96px -64px;
}


.gcmf-hero-slider-skin .rsArrowDisabled .rsArrowIcn {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  *display: none;
  background-color: none;
}


.gcmf-hero-slider-skin .rsArrowDisabled {
  background: none;
}

/***************
*
*  2. Bullets
*
****************/

.gcmf-hero-slider-skin .rsBullets {
  position: absolute;
  bottom: 12px;
  right: 15px;
  z-index: 35;
  padding-top: 4px;
  height: auto;
  text-align: center;
  line-height: 10px;
  /*overflow: hidden;*/
}


.gcmf-hero-slider-skin .rsBullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px 10px 6px 10px;
}

.gcmf-hero-slider-skin .rsBullet span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  border: solid 1px #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.gcmf-hero-slider-skin .rsBullet.rsNavSelected span {
  background: rgba(0, 0, 0, 0.5);
}

.collection-box-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Digital Archives Shortcode */


.da-box-img {
  float: left;
  display: inline-block;
  padding: 0 10px 10px 0;
}


.da-content {
  padding-bottom: 5px;
}

.da-box {
  height: 160px;
  margin-top: 10px;
  overflow: hidden;
  border-bottom: 1px solid #777777;
}

.jumplink-da {
  margin-right: 30px;
  float: right;
}


/***************
*
*  7. Preloader
*
****************/
/* line 133, ../scss/_gcmf-hero-slider-skin.scss */
.gcmf-hero-slider-skin .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../preloaders/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/***************
*
*  8. Global caption
*
****************/

.gcmf-hero-slider-skin .rsGCaption {
  position: absolute;
  float: none;
  bottom: 6px;
  left: 6px;
  text-align: left;
  background: #222;
  color: #FFF;
  padding: 2px 8px;
  width: auto;
  font-size: 12px;
  border-radius: 2px;
}


.gcmf-slider-skin .rsArrow {
  height: 24px;
  width: 24px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}


.gcmf-slider-skin .rsArrowIcn {
width: 32px;
height: 32px;
top: 50%;
left: 50%;
margin-top: -16px;
margin-left: -16px;
position: absolute;
cursor: pointer;
background: url("../img/gcmf-slider-skin.png");
opacity: 0.5;
border-radius: 2px;
}




#hero {
  color: #fff;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: 90;
  margin-top: 169px;
}


#hero span.section-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  top: 80px;
  height: auto;
  padding-top:0;
  text-shadow: none;
}

#hero p {
  font-size: 18px;
}

.site-content {
	background-color: #ffffff;
}

#primary h1, #primary .h1 {
    color: #0064A2;
}

h1, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6 {
  font-family: 'Gotham A', 'Gotham B', Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0064A2;
}


h1.entry-title {
  text-transform: uppercase;
}


h2.entry-title, h2.entry-title a {
  color: #0064A2 !important;
}

h2.widget-title {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 12px;
}

.search-highlight h3 {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}

.archive .article.events {
  border-top: 5px solid #0066aa;
  background-color: #efefef;
}

.widget_nav_menu ul li {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}

.content-panel, .content-box, #response_area .res-result-wrapper, .response_area .res-result-wrapper, article.programs .related-downloads, article.news .related-downloads, .multi-box-wrapper, .archive article.programs, .archive article.news {
  box-shadow: none;
  border: 0;
}

.content-box .inner-content {
  padding: 5px;
  border-top: 5px solid #0066aa;
  background-color: #efefef;
}

.content-box .jumplink {
  text-align: right;
}

.keyword-submit {
  height: 25px;
  width: 25px;
}

/*Slider Block*/

.slider-block {
  background-color: #00aee7;
  color: #ffffff;
  width: 30%;
  bottom: 15px;
  position: absolute;
}

/*Section Slider */

.gcmf-section-slider-skin {
  padding: 5px 80px 5px 10px;
  display: block;
}

.section-slider .ss-content {
  background-color: #333333;
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  width: 50%;
  height: 100px;
  top: 150px;
}



/*News Area*/


.entry-list a {
  color: #0064A2;
}

.entry-list a:hover {
  color: #00aee7;
}

.entry-list .entry-date {
  text-transform: uppercase;
  color: #00aee7;
  font-size: 14px;
  font-style: normal;
}

.entry-list .entry-title {
  font-size: 20px;
}

a.jumplink:after {
  content:"\00bb";

}

.entry-list a.jumplink {
  color: #0064A2 !important;
}

.entry-list a.jumplink:hover {
  color: #00aee7 !important;
}

footer#mega-footer {
  color: #fff;
  background-color: #1a808e;
  padding: 30px 0 20px;
}

footer#mega-footer .plan {
  width: 14%;
}

footer#subfooter {
  font-size: 16px;
  padding: 40px 0;
  color: #fff;
  background-color: #333333;
}

footer#subfooter a{
  font-size: 16px;
  color: #00AEE6;
}

.mf-menus ul {
  list-style-type: none;
  padding-left: 0;
}

footer#mega-footer #mf-container {
  padding-top: 5px;
}

footer#mega-footer .mf-headings {
  width: 100%;
  font-size: 18px;
  color: #ffffff;
}

footer#mega-footer a {
  color: #cccccc;
}

footer#mega-footer a:hover {
  color: #eeeeee;
}

.footer-address {
  text-align: center;
}

.entry-title h1 {
  text-transform: capitalize;
    color: #0064A2 !important;
}


/*Top Search*/

#search-wrapper {
  background-color: #fff;
  position: relative;
}

#search {
  margin-bottom: 0;
}

.btn-search {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
}

.form-control, #date-sidebar-wrap .daterange input, .actav input, .daterange input {
  height: 33px;
  background-color: #efefef;
}

.search-form input[type="submit"] {
  height: 32px;
  width: 32px;
}

.global-search-form .search-submit {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  width: 32px;
  color: #423e3b;
  font-weight: bold;
}

#masthead .global-search-form {
  width: 100%;
  background-color: #efefef;
  height: 33px;
}

.global-search-form .form-control {
  padding: 0px 6px;
  color: #333333;
  background-color: #efefef;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pagination ul.page-numbers .current {
  color: #00aee6;
  text-decoration: underline;
}

.pagination a:hover, .pagination a:focus {
  color: #00aee6;
  text-decoration: underline;
}

.partial-result a[href$=".pdf"]:before {
  content: url("img/type-icons/pdf.png");
  padding-right: 2px;
}

.partial-result a[href$="doc"]:before {
  content: url("img/type-icons/word.png");
  padding-right: 4px;
}

.result-text a[href$="doc"]:before {
  content: url("img/type-icons/word.png");
  padding-right: 4px;
}

.result-text a[href$=".pdf"]:before {
  content: url("img/type-icons/pdf.png");
  padding-right: 2px;
}


.search-highlight .result-text {
  margin-bottom: 10px;
}

.search-highlight .result-text-language {
  text-transform: capitalize;
   margin-bottom: 10px;
}

.btn-services {
  transition: background-color 0.5s ease;
  text-transform: capitalize;
  background-color: #333333;
  color: #ffffff;
  float: center;
  width: 100%;
  margin-top: 10px;
}

.btn-services:active {
  transition: background-color 0.5s ease;
  text-transform: capitalize;
  background-color: #333333;
  color: #ffffff;
  float: center;
  width: 100%;
  margin-top: 10px;
}

.btn-services:hover {
  transition: background-color 0.5s ease;
  background-color: #666666;
  color: #ffffff;
  text-transform: capitalize;
  width: 100%;
}


/*Side Nav Styles*/

.widget_nav_menu {
  box-shadow: none;
  border-left: 1px solid #aaaaaa;
}

/* Shortcode Styles */

.top-head {
  text-transform: uppercase;
  color: #00aee7;
  font-size: 14px;
  font-style: normal;
}

.title {
  text-transform: uppercase;
  color: #595959;
  font-size: 20px;
  font-weight: bold;
}

.event-type {
  text-transform: uppercase;
  color: #00aee7;
  font-size: 14px;
  font-style: normal;
}

.event-type:before {
  content: url("img/type-icons/calendar.png")"\00a0";
}


/*Call to Action */

.cta-box p {
  font-size: 15px;
  color: #333333;
}

.cta-box .inner-content h3 {
  font-size: 22px;
}

.collection .collection-box {
  background-color: #fff;
  margin: 10px 0px 0px 0;
  font-size: 15px;
  color: #333333;
  float: left;
  width: 100%;
  border: 0;
}

.collection-box {
    border-top: 5px solid #0066aa;
  background-color: #efefef;
}

}

.collection-box .inner-content {
  padding: 10px;
}


.collection-box-img {
  padding: 20px 20px 20px 0px;
}

.item-container {
  float: left;
}

.col-lg-6 .item-container {
    float: none;
}

/* 404 Search */

.global-search-form-wrapper {
  max-width: 450px;
  box-shadow: none;
}

.form-control  .global-search-form {
  max-width: 450px;
  box-shadow: none;
}



/*Catalog Search*/

.input, .button, .select, .textarea {
  height: 30px;
  padding: 10px !important;
}

input.facetwp-search {
  padding: 8px;
  background-color: #dfdfdf;
  border: 0;
}

input.facetwp-number.facetwp-number-min, input.facetwp-number.facetwp-number-max {
  padding: 7px;
  width: 90px;
  border-left: 8px solid #0064a2;
  background-color: #dfdfdf;
  border-top: 0;
  border-bottom: 0;
  margin-right: 5px;
}

span.search-input.col-sm-3 {
  margin: 0;
}

.facetwp-sort-select {
  background-color: #dfdfdf;
  padding: 4px;
  border: 0;
  width: 125px;
}

.facetwp-sort {
  margin-bottom: 10px;
}

.search-landing-top {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  height: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.form-control:-moz-placeholder, .wpcf7-form-control[type="text"]:-moz-placeholder, .wpcf7-form-control[type="email"]:-moz-placeholder, textarea.wpcf7-form-control:-moz-placeholder {
  color: #555555;
}

.form-control::-moz-placeholder, .wpcf7-form-control[type="text"]::-moz-placeholder, .wpcf7-form-control[type="email"]::-moz-placeholder, textarea.wpcf7-form-control::-moz-placeholder {
  color: #555555;
}

.form-control:-ms-input-placeholder, .wpcf7-form-control[type="text"]:-ms-input-placeholder, .wpcf7-form-control[type="email"]:-ms-input-placeholder, textarea.wpcf7-form-control:-ms-input-placeholder {
   color: #555555;
}

.form-control::-webkit-input-placeholder, .wpcf7-form-control[type="text"]::-webkit-input-placeholder, .wpcf7-form-control[type="email"]::-webkit-input-placeholder, textarea.wpcf7-form-control::-webkit-input-placeholder {
  color: #555555;
}

/* Format Type */

.format-icon {
  padding-left:23px;
  background-size:20px 20px;
  background-repeat:no-repeat;
}

.format-microfilm {
  background-image:url("img/type-icons/icon-microfilms.png");
}

.format-digitalarchives  {
  background-image:url("img/type-icons/icon-digital-archives.png");
}

.format-documents  {
  background-image:url("img/type-icons/icon-documents.png");
}

.format-video  {
  background-image:url("img/type-icons/icon-video.png");
}

.format-posters {
  background-image:url("img/type-icons/icon-posters.png");
}

.format-oralhistories  {
  background-image:url("img/type-icons/icon-oral-histories.png");
}

.format-audio {
  background-image:url("img/type-icons/icon-audio-video.png");
}

.format-photographs {
  background-image:url("img/type-icons/icon-photographs.png");
  }

.format-books  {
  background-image:url("img/type-icons/icon-books.png");
}

.format-maps  {
  background-image:url("img/type-icons/icon-maps.png");
}

.download-link  {
}

.download-link:before  {
    content:"\f019";
    font-family: FontAwesome;
    width:24px;
    color:#006699;
    float:left;
    padding-left:3px;
  }


/*Search Results*/

.global-search-recordset a {
  color: #006699;
}

.collection ul {
  list-style: none;
}

.date-range label.primary
  {
    font-size:1.4em;
    float:left;
    text-transform:uppercase;
    color:#006699;
    padding-right: 15px;
  }

  input.facetwp-number.facetwp-number-max,  input.facetwp-number.facetwp-number-min
  {
    margin-left:5px;
  }

.result-file {
  padding-left: 22px;
  text-indent: -26px;
}

.facetwp-selections li {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-right: 20px;
  cursor: pointer;
}

.facetwp-facet-keyword_search:before {
  padding: 1px 5px 4px !important;
  margin-bottom: 15px;

}

.facetwp-type-checkboxes, .facetwp-type-hierarchy {
  max-height: 400px;
  overflow: auto;
}


 .searchtemplate .entry-content {
  width: 75%;
  float: right;
 }

.results-title a {
  color: #0064A2;
  text-decoration: underline;
  font-weight: bold;
}

.results-collection a {
  color: #0064A2;
  text-decoration: underline;
  font-weight: normal;
}

p.result-format {
  margin: 0 0 10px 0;
}

.tags {
  font-size: 10px;
}

.tags a {
  color: #0064A2;
}

.result-type {
  font-weight: 500;
}

#search-sidebar {
  padding: 10px 20px 10px 0;
  margin-right: 2%;
  border-right: solid 1px #eee;
  width: 23%;
  position: relative;
  z-index: 10;
  float: left;
  background: #fff;
  color: #000;
}

.search-highlight {
  background-color: #dfdfdf;
  padding: 15px 20px;
}

.mejs-container {
width: 101% !important;
}

.numbered-results {
  padding-left: 0 !important;
}

.title-date {
  width: 69%;
  float: left;
  margin-left: 15px;
}

.type-link {
  width: 27%;
  float: left;
}

.s-tab-content {
  padding-top: 25px;
}

.s-tabs {
  display: block;
  width: 100%;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.s-tabs li {
  margin-right: 5px;
  padding: 0;
  height: 40px;
  float: left;

}

.s-tabs li a {
  background: #cccccc;
  border-top: 7px solid #cccccc;
  color: #333333;
  font-weight: 500;
  height: 40px;
  line-height: 30px;
  text-indent: 0;
  text-align: center;
  padding: 0 25px;
  display: block;
}


.s-tabs li.active a {
  border-top: 7px solid #0064a2;
  color: #0064a2;
}

.s-tab-holder .s-tab_content {
  padding: 15px;
  overflow: hidden;
}

.s-tabs-container {
  border-top: 1px solid #cccccc;
}

.s-tabs li.active {
  position: relative;
}

.s-tab-holder {
  width: 100%;
  background: #fff;
  margin-top: 25px;
}

.search-options-row {
  margin-top: 10px;
}

.item-thumbnail img {
  height: auto;
}

.searchtemplate .facetwp-template
  {
    overflow:visible;
  }
  .searchtemplate p.excerpt
  {
    margin:.6em 0;
  }

  .item-info
  {
    float:right;
  }
  .search-main-wrapper .facetwp-facet {
    margin-bottom: 0px;
  }
  .searchwp-highlight.on
  {
    background:#ffa;
  }

  .search-options-row .facetwp-selections ul
  {
    padding: 0 !important;
  }
  .search-options-row .facetwp-selections li {
    font-size:0.9em;
  }

  .title-date
  {
    margin-left:0;
  }


  .download-link
  {
  }
  .download-link:before
  {
    content:"\f019";
    font-family: FontAwesome;
    width:24px;
    color:#006699;
    float:left;
    padding-left:3px;
  }


  .item-thumbnail img
  {
    max-width:200px;
    width:auto;
  }

  .related-item-image
  {
    text-align: center;
  }
  .related-item-image img
  {
    max-height: 150px;
    width:auto;
  }

  .title-date
  {
    margin-left:0;
  }

  .download-link
  {
  }
  .download-link:before
  {
    content:"\f019";
    font-family: FontAwesome;
    width:24px;
    color:#006699;
    float:left;
    padding-left:3px;
  }

  .center {
    float: center;
    text-align: center;
  }

  .item-thumbnail img
  {
    max-width:200px;
    width:auto;
  }

  .related-item-image
  {
    text-align: center;
  }
  .related-item-image img
  {
    max-height: 150px;
    width:auto;
  }

  .result_text {
    font-weight: 300;
  }

  ul#search-tab li:hover > a {
      background: #d7d7d7;
      list-style-type: none;
  }

  ul#search-tab li li a:hover {
    border-top: #00667a solid 7px;
    background: #d7d7d7;
  }

  ul#search-tab a {
    color: #333333;
    padding: 7px 20px 7px 20px;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  ul#search-tab li.current-menu-item {
      border-top: #00667a solid 7px;
      background: #d7d7d7;
  }

/* Collection Pages */

#alphabet-menu {
  padding: 5px;
  border-top: 5px solid #0066aa;
  text-align: right;
}

#alphabet-menu .selected {
  color: #0066aa;
  text-decoration: underline;
  font-weight: 500;
}

li.az-char {
  display: inline;
  list-style-type: none;
  padding-right: 2.5%;
}

li.az-char:hover {
  cursor: pointer;
  color: #0064A2;
}

.collection-small {
  text-transform: uppercase;
  color: #00aee7;
  font-size: 14px;
  font-style: normal;
}



.collection li {
  list-style-type: none;
}

.collection li a {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;
  font-weight: 500;
}

#primary h1.collection-featured  {
  color: #555555;
  text-transform: uppercase;
  font-weight: 400;
}

h2.collection-featured {
  color: #555555;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

h3.collection-featured{
  color: #555555;
  text-transform: uppercase;
  font-weight: 400;
}

.collection-image {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 5px;
}

.collection-landing {
  display: block;
  float:right;
  margin-left: 20px;
}



.collection-box .collection-box-content h3 {
  margin: 0;
}

.collection-featured .collection-box-content .inner-content {
  padding: 15px 10px 0px 10px;
}

.pager {
  text-align: center;
}

.pager a.collection-page {
  color: #0064A2;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.pager a.collection-page:hover {
  color: #0064A2;
  cursor: pointer;
}

.tax-collection .tag-desc {
  margin-top: 15px;
}

/* Holdings Search */

.searchtemplate .facetwp-template
  {
    overflow:visible;
  }
  .searchtemplate p.excerpt
  {
    margin:.6em 0;
  }

  .item-info
  {
    float:right;
  }
  .search-main-wrapper .facetwp-facet {
    margin-bottom: 0px;
  }


  .facetwp-selections ul
  {
    padding: 0 !important;
  }
  .facetwp-selections li {
    font-size: 1em;
  }

  .title-date
  {
    margin-left:0;
  }


  .download-link
  {
  }
  .download-link:before
  {
    content:"\f019";
    font-family: FontAwesome;
    width:24px;
    color:#006699;
    float:left;
    padding-left:3px;
  }

  .search-options-row
  {
    border-bottom:solid 1px #eee;
    border-top:solid 1px #eee;
    margin-bottom:15px;
    padding-top: 5px;
    padding-bottom:5px;
  }

  .search-options-row-bottom
  {
    margin-bottom:15px;
  }


  .date-range
  {
    float:left;
    margin-bottom: 10px;
  }

  .date-range .facetwp-facet
  {
    float:left;
  }

  .facetwp-facet-keyword_search input
  {
    padding-left:33px;
    margin-bottom: 15px;
  }

  .facetwp-facet-keyword_search:before
  {
    content: "\f002";
    float: left;
    font-family: FontAwesome;
    padding: 3px 5px 4px;
    color: #fff;
    position: absolute;
    font-size: 1.5em;

    background:#006699;
  }

  .facetwp-facet-keyword_search input {
    width: 100%;
  }

  .facetwp-pager {
    text-align: right;
  }

  .facetwp-counts {
    float: left;
  }

  .facetwp-pager {
    float: right;
  }

  #search-sidebar h2
  {
    text-transform:uppercase;
    color:#333 !important;
  }

  .facetwp-sort {
    float: right;
  }

  .toggle-highlight {
    text-align: right;
  }


input[type="radio"], input[type="checkbox"] {
  margin: 4px 10px 0 2px;
  line-height: normal;
}

.holdings-search {
  padding:15px;
  background: #dfdfdf;
  overflow: auto;
}

.holdings-search .facetwp-facet {
  margin-bottom: 1.4em;
}

.holdings-search select, .holdings-search input.facetwp-search {
  max-width:100%;
  background:#fff;
  width:100%;
  padding:8px;
  border: solid 1px #ddd;
}

.holdings-search .btn-search {
  background:#00AEE7;
  padding:10px 15px;
  text-transform: uppercase;
  color:#fff;
  float: right;
  border:none;
}

.holdings-search h3{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  color:#222;
}

.holdings-search label {
  text-transform: uppercase;
  margin-bottom: 3px;
  color:#222;
}


.searchwp-highlight.on {
  background: #FF4;
  padding: 2px;
}
/* Added Class*/

.widget_nav_menu li.first-menu-item {
  border-top: 0 !important;
}

.img:hover {
  opacity: .7;
}

/*Gift Shop*/
.tabs .description_tab .active, .tabs .reviews_tab .active {
  border-top: 7px solid #0064a2;
  color: #0064a2;
  background: #cccccc !important;
}

.woocommerce-tabs .tabs {
  display: block;
  width: 100%;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.woocommerce-tabs .tabs li {
  margin-right: 5px;
  padding: 0;
  height: 40px;
  float: left;
}

.reviews_tab {
  display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
  background-color: #cccccc !important;
}



.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
  background-color: #cccccc;
  border-top: 7px solid #0064A2;
  color: #0064a2;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px;
  margin-right: 87%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  background-color: #cccccc;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
  padding: 0;
  background-color: #cccccc;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  padding: 0 15px;
  background-color: #cccccc;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.woocommerce-tabs .tabs li a {
  background: #cccccc;
  border-top: 7px solid #cccccc;
  color: #333333;
  font-weight: 500;
  height: 40px;
  line-height: 30px;
  text-indent: 0;
  text-align: center;
  padding: 0 25px;
  display: block;
}

#secondary html input[type="button"], #secondary input[type="reset"], #secondary input[type="submit"] {
  background-color: #00aee6;
  color: #ffffff;
  border: 3px;
  padding: 3px 7px;
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
  border-top: 3px solid #0064A2;
}

.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
  background-color: #0064A2;
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info {
  -webkit-border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background: #cccccc;
  text-shadow: none;
}

.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
  display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {
  display: none;
}

#searchform label.screen-reader-text {
  display: none !important;
}

.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
  width: 22%;
}

.woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  margin: 0 0 2em !important;
}

.woocommerce div.product .product_title, .woocommerce #content div.product .product_title, .woocommerce-page div.product .product_title, .woocommerce-page #content div.product .product_title {
  font-size: 20px;
}

.woocommerce #payment, .woocommerce-page #payment {
  background-color: #efefef;
  border-radius: 0;
}

.products h3 {
  font-weight: 500;
}

mark {
  background-color: #ffffff;
}


.yith_magnifier_zoom_wrap {
  z-index: 10 !important;
}

.tablepress tfoot th, .tablepress thead th {
  background-color: #cccccc !important;
  font-weight: 700;
  vertical-align: middle;
}

.paging_simple .paginate_button.next:after {
  text-align: right;
  content: " \00bb" !important;
  left: auto;
  text-shadow: none !important;
}

.paging_simple .paginate_button.previous:before {
  text-align: left;
  font-family: TablePress;
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  content: " \00ab" !important;
  text-shadow: none !important;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -14px;
  margin: auto;
  height: 14px;
  width: 14px;
  line-height: 1;
}

.paginate_button.disabled {
  color: #999 !important;
  text-decoration: none;
  cursor: default;
}

.paginate_button:after, .paginate_button:before {
  color: #0064A2 !important;
}

.tablepress .sorting:hover, .tablepress .sorting_asc, .tablepress .sorting_desc {
  background-color: #00aee6;
}

/*Mobile*/


@media (max-width: 991px) {

#hero {
  margin-top: 130px;
}

nav#section-nav ul#menu-secondary-navigation a {
  font-size: 14px !important;
}


ul.social-icons {
  display: none;
}

#menu-bars {
  display: inherit;
}

nav#site-navigation {
  background-color: transparent;
}

#menu-bars .navigation {
  display: inherit;
}

#search-top {
  display:none;
}

.navigation {
  display: none;
}

.brand-box {
  width: 97%;
  margin-bottom: 20px;
  height: auto;
  }

.brand-box h2 {
  font-size: 15px;
  padding-top: 4px;
}

.brand-box-title {
  height: 45px;
}

.brand-box-text {
  height: 80px;
  width: 120px;
  bottom: 0;
  padding: 10px 5px 0 5px;
  font-size: 12px;
}

  nav#site-navigation > ul > li > a {
  font-size: 14px;
  }


  nav#site-navigation ul li {
  }

  nav#site-navigation ul li a {
    color: #ffffff;
    background-color: #5a5a5a;
  }

  nav#site-navigation .menu-item a:hover {
    background-color: #ababab;
    color: #0064A2;
  }

  nav#site-navigation li.current-menu-item a {
    background-color: #ababab;
    color: #0064A2;
  }

   nav#section-nav {
    bottom: -1px;
  }

  nav#section-nav ul#menu-secondary-navigation li {
    border-top: 1px solid #cccccc;
    border-right: 2px solid #cccccc;
  }

  nav#section-nav #mobile-menu {
    display: none;
  }

  ul#mobile-menu.dd-menu-basic > li:first-child a {
    font-size: 15px;
    font-weight: 500;
  }

  #search {
    display: none;
  }

  li.secondary-menu-toggle a {
    color: #0064a2;
  }
  .brand-header {
    position: relative;
  }

  #info-bullets {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
  }

  #site-search-trigger a, .menu-toggle a {
    color: #666666 !important;
  }

  nav#site-navigation ul:after {
    border-left-color: #5a5a5a;
  }

  .date-range {
    margin: 0 !important;
  }

  .facetwp-facet-keyword_search input {
    width: 100%;
  }

.btn-search {
  float: right;
}

#site-search-trigger a, .menu-toggle a {
  color: #423e3b;
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 5px 10px;
}

#site-search-trigger a:hover, .menu-toggle a:hover {
  color: #0071ce;
}

.search-main-wrapper .search-input .col-sm-10 .col-lg-3 {
  padding: 0 !important;
}

nav#site-navigation ul {
  width: 160px;
}

.holdings-search .facetwp-facet .facetwp-facet-keyword_search:after {
  content: "\f002";
  float: left;
  font-family: FontAwesome;
  padding: 3px 5px 4px;
  color: #fff;
  position: absolute;
  font-size: 1.5em;
  background: #006699;
}


  #site-search-trigger a, .menu-toggle a {
    font-size: 35px;
    padding: 7px;
  }

  .da-box {
      height: inherit;
  }

  .da-content .inner-content {
    margin-left: -15px;
  }

  .tablet {
  display: inherit;
}


}

@media (max-width: 767px) {

  .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    display: none;
  }

  ul#mobile-menu {
  display: inherit;
}

ul.dd-menu-basic li.has-children > a:after {
content:"\25be";
padding-left: 4px;
font-size: 18px;
}

#mobile-nav-bottom {
  display: inherit;
}

.mobile-menu-below {
  background-color: #cccccc;
  height: inherit;
}

  #site-search-trigger a, .menu-toggle a {
    font-size: 28px;
    margin-right: 5px;
  }
  #search-sidebar {
    display: none;
  }

  .searchtemplate .entry-content {
    width: 100%;
    float: left;
  }


  .site-branding {
    float: left;
  }

  #masthead-wrap {
    position: relative;
    z-index: 100;
  }

  header#masthead {
    height: 150px;
  }

  #content-nav-wrap  {
    display: none;
  }

  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: #333333;
    }

    #content-nav-wrap {
      top: -8px;
    }

    nav#section-nav {
      background-color: #cccccc;
      height: 45px;
    }

    nav#site-navigation {
    background-color: transparent;
    }

    nav#section-nav #mobile-menu {
      padding-top: 10px;
    }

    .search-options-row {
      float: left;
    }

    .facetwp-sort {
      display: none;
    }

    .btn-search {
    float: right;
    }
    .da-box {
      height: inherit;
    }

    .brand-box {
      margin-bottom: 10px;
    }

    .feature-box {
      height: inherit;
    }

    .feature-box-img-text {
      margin-left: 22px;
    }

    .fc-image-main {
      float: left;
    }

    .fc-image {
      float: right;
    }
    #comments #respond input {
      width: 70%;
    }

}

@media (max-width: 480px) {

  nav#site-navigation {
  background-color: transparent;
}

  #logo {
    display: block;

}

  #menu-bars {
    margin-top: 0 !important;
  }

  .site-branding {
    margin-top: 30px !important;
  }

  #site-search-trigger a, .menu-toggle a {
    font-size: 28px;
    margin-right: 5px;
  }
  #search-sidebar {
    display: none;
  }

  .searchtemplate .entry-content {
    width: 100%;
    float: left;
  }

  #info-bullets {
    display: none;
  }

  #content-nav-wrap  {
    display: none;
  }

  #masthead-wrap {
    position: relative;
    z-index: 100;
  }

  header#masthead {
    height: 150px;
  }

  #menu-top-menu {
    display: none;
  }

  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: #333333;
    }


    nav#section-nav {
      background-color: #cccccc;
      height: 45px;
    }

    .date-range {
      display: none;
    }

    .btn-search {
    float: right;
    }

    .brand-box {
      margin-bottom: 20px;
    }

    ul.social-icons {
      display: none;
    }

    #logo {
      margin-bottom: 20px;
    }
    .feature-box {
      height: inherit;
    }

    .footer-address {
      font-size: 12px !important;
    }

    ul#mobile-menu.dd-menu-basic ul li.current-menu-item {
      border-left: 3px solid #0066a2;
    }

    .blog article {
      height: inherit;
    }

    ul#mobile-menu.dd-menu-basic > li:first-child a {
      font-size: 13px;
    }

    .brand-box-title {
      width: 265px;
    }

    .featured-header h2 {
      font-size: 20px;
    }

    #comments #respond label {
      width: 100%;
    }
    #comments #respond input {
      width: 100%;
    }
    #comments #respond textarea {
      width: 100%;
    }

}

.archive #primary article {
  border-top: 7px solid #0064A2;
  padding-top: 10px;
  padding-bottom: 20px;
  min-height: 200px;
}
